# .ebextensions/00_env_variables.config

option_settings:
  aws:elasticbeanstalk:application:environment:
    ALLOWED_ORIGINS: "*.trackmytasks.net"
    APP_PORT: "8082"
    ENV: "production"
    MONGO_DATABASE: "task_tracker"
    MONGO_URI: "mongodb+srv://utpalkumar74:Utpwd4mongo30%4092@cluster0.ufka7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0&tls=true&tlsInsecure=true"
    REDIS_ADDRESS: { "Fn::GetAtt": ["AWSEBLoadBalancer", "DNSName"] }

commands:
  01_set_redis_address:
    command: |
      PRIVATE_IP=$(curl -s http://169.254.169.254/latest/meta-data/local-ipv4)
      echo "REDIS_ADDRESS=$PRIVATE_IP:6379" >> /opt/elasticbeanstalk/hooks/appdeploy/predeploy/01_set_redis_address.env
