commands:
  01_update_yum:
    command: "yum update -y"

  02_install_dependencies:
    command: "yum install -y gcc jemalloc-devel tcl"

  03_download_redis:
    command: "wget http://download.redis.io/redis-stable.tar.gz -O /tmp/redis-stable.tar.gz"

  04_extract_redis:
    command: "tar xvzf /tmp/redis-stable.tar.gz -C /tmp"

  05_compile_redis:
    cwd: "/tmp/redis-stable"
    command: "make"

  06_install_redis:
    cwd: "/tmp/redis-stable"
    command: "make install"

  07_create_redis_dir:
    command: "mkdir -p /etc/redis"

  08_copy_redis_conf:
    cwd: "/tmp/redis-stable"
    command: "cp redis.conf /etc/redis/"

  09_create_redis_service_file:
    command: |
      echo "[Unit]
      Description=Redis In-Memory Data Store
      After=network.target

      [Service]
      ExecStart=/usr/local/bin/redis-server /etc/redis/redis.conf
      ExecStop=/usr/local/bin/redis-cli shutdown
      Restart=always

      [Install]
      WantedBy=multi-user.target" > /etc/systemd/system/redis.service

  10_reload_systemd:
    command: "systemctl daemon-reload"

  11_enable_redis:
    command: "systemctl enable redis"

  12_start_redis:
    command: "systemctl start redis"
