packages:
  yum:
    redis: []

files:
  "/etc/redis/redis.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Your custom Redis configuration here
      bind 0.0.0.0
      protected-mode no
      maxmemory 256mb
      maxmemory-policy allkeys-lru

commands:
  enable_redis:
    command: "systemctl enable redis"
  
  start_redis:
    command: "systemctl start redis"
