files:
  "/etc/nginx/conf.d/custom-upstream.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream ttm_app {
          server 172.17.0.2:8082;
      }

container_commands:
  01_replace_nginx_conf:
    command: "sed -i '/http {/a include /etc/nginx/conf.d/custom-upstream.conf;' /etc/nginx/nginx.conf"
  
  02_restart_nginx:
    command: "systemctl restart nginx"
